In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
csv_without_holidays = pd.read_csv("datasets/1.-Transportation/accidents-without-holidays.csv")
csv_without_holidays

,Unnamed: 0,District Name,Weekday,Month,Day,Part of the day,Mild injuries,Serious injuries,Victims,Vehicles involved
0,0,Unknown,Friday,October,13,Morning,2,0,2,2
1,1,Unknown,Friday,September,1,Morning,2,0,2,2
2,3,Unknown,Friday,July,21,Night,1,0,1,2
3,4,Sant Martí,Thursday,May,25,Afternoon,1,0,1,3
4,5,Sant Martí,Wednesday,September,20,Morning,1,0,1,2
...,...,...,...,...,...,...,...,...,...,...
9646,10334,Sant Andreu,Tuesday,April,25,Morning,1,0,1,3
9647,10335,Sant Andreu,Wednesday,March,8,Morning,1,0,1,2
9648,10336,Sant Andreu,Thursday,December,28,Morning,1,0,1,2
9649,10337,Sant Andreu,Friday,July,14,Afternoon,1,0,1,2
9650,10338,Sant Andreu,Sunday,January,8,Afternoon,0,0,0,1

In [3]:
csv_without_holidays.drop(["Unnamed: 0"], axis=1, inplace=True)
csv_without_holidays

,District Name,Weekday,Month,Day,Part of the day,Mild injuries,Serious injuries,Victims,Vehicles involved
0,Unknown,Friday,October,13,Morning,2,0,2,2
1,Unknown,Friday,September,1,Morning,2,0,2,2
2,Unknown,Friday,July,21,Night,1,0,1,2
3,Sant Martí,Thursday,May,25,Afternoon,1,0,1,3
4,Sant Martí,Wednesday,September,20,Morning,1,0,1,2
...,...,...,...,...,...,...,...,...,...
9646,Sant Andreu,Tuesday,April,25,Morning,1,0,1,3
9647,Sant Andreu,Wednesday,March,8,Morning,1,0,1,2
9648,Sant Andreu,Thursday,December,28,Morning,1,0,1,2
9649,Sant Andreu,Friday,July,14,Afternoon,1,0,1,2
9650,Sant Andreu,Sunday,January,8,Afternoon,0,0,0,1

In [6]:
csv_without_holidays.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9651 entries, 0 to 9650
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   District Name      9651 non-null   object
 1   Weekday            9651 non-null   object
 2   Month              9651 non-null   object
 3   Day                9651 non-null   int64
 4   Part of the day    9651 non-null   object
 5   Mild injuries      9651 non-null   int64
 6   Serious injuries   9651 non-null   int64
 7   Victims            9651 non-null   int64
 8   Vehicles involved  9651 non-null   int64
dtypes: int64(5), object(4)
memory usage: 678.7+ KB

In [4]:
csv_without_holidays.describe()

,Day,Mild injuries,Serious injuries,Victims,Vehicles involved
count,9651.000000,9651.000000,9651.000000,9651.000000,9651.000000
mean,15.827583,1.155113,0.022899,1.179256,1.917832
std,8.715831,0.735819,0.158340,0.726257,0.699655
min,1.000000,0.000000,0.000000,0.000000,0.000000
25%,8.000000,1.000000,0.000000,1.000000,2.000000
50%,16.000000,1.000000,0.000000,1.000000,2.000000
75%,23.000000,1.000000,0.000000,1.000000,2.000000
max,31.000000,10.000000,2.000000,10.000000,14.000000

In [7]:
#Less Vehicles involved than in holidays
#Slightly more victims
#Slightly less serious injuries
#Slightly more mild injuries