In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
csv_holidays = pd.read_csv("datasets/1.-Transportation/accidents-holidays.csv")
csv_holidays

,Unnamed: 0,District Name,Weekday,Month,Day,Part of the day,Mild injuries,Serious injuries,Victims,Vehicles involved
0,0,Ciutat Vella,Friday,June,23,Night,1,0,1,1
1,1,Eixample,Friday,June,23,Morning,1,0,1,2
2,2,Eixample,Friday,June,23,Morning,1,0,1,2
3,3,Eixample,Friday,June,23,Afternoon,1,0,1,2
4,4,Sants-Montjuïc,Friday,June,23,Afternoon,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...
683,683,Eixample,Tuesday,February,14,Morning,1,0,1,2
684,684,Les Corts,Tuesday,February,14,Morning,1,0,1,2
685,685,Sarrià-Sant Gervasi,Tuesday,February,14,Afternoon,1,0,1,2
686,686,Horta-Guinardó,Tuesday,February,14,Afternoon,0,0,0,1
687,687,Horta-Guinardó,Tuesday,February,14,Morning,2,0,2,2

In [3]:
csv_holidays.drop(["Unnamed: 0"], axis=1, inplace=True)
csv_holidays

,District Name,Weekday,Month,Day,Part of the day,Mild injuries,Serious injuries,Victims,Vehicles involved
0,Ciutat Vella,Friday,June,23,Night,1,0,1,1
1,Eixample,Friday,June,23,Morning,1,0,1,2
2,Eixample,Friday,June,23,Morning,1,0,1,2
3,Eixample,Friday,June,23,Afternoon,1,0,1,2
4,Sants-Montjuïc,Friday,June,23,Afternoon,2,0,2,1
...,...,...,...,...,...,...,...,...,...
683,Eixample,Tuesday,February,14,Morning,1,0,1,2
684,Les Corts,Tuesday,February,14,Morning,1,0,1,2
685,Sarrià-Sant Gervasi,Tuesday,February,14,Afternoon,1,0,1,2
686,Horta-Guinardó,Tuesday,February,14,Afternoon,0,0,0,1
687,Horta-Guinardó,Tuesday,February,14,Morning,2,0,2,2

In [5]:
csv_holidays.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 688 entries, 0 to 687
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   District Name      688 non-null    object
 1   Weekday            688 non-null    object
 2   Month              688 non-null    object
 3   Day                688 non-null    int64
 4   Part of the day    688 non-null    object
 5   Mild injuries      688 non-null    int64
 6   Serious injuries   688 non-null    int64
 7   Victims            688 non-null    int64
 8   Vehicles involved  688 non-null    int64
dtypes: int64(5), object(4)
memory usage: 48.5+ KB

In [4]:
csv_holidays.describe()

,Day,Mild injuries,Serious injuries,Victims,Vehicles involved
count,688.000000,688.000000,688.000000,688.000000,688.000000
mean,15.052326,1.140988,0.029070,1.170058,1.965116
std,9.383013,0.828288,0.227058,0.850638,0.890809
min,1.000000,0.000000,0.000000,0.000000,1.000000
25%,7.000000,1.000000,0.000000,1.000000,2.000000
50%,14.000000,1.000000,0.000000,1.000000,2.000000
75%,24.000000,1.000000,0.000000,1.000000,2.000000
max,31.000000,5.000000,4.000000,7.000000,13.000000

More Vehicles involved than without holidays.

Slightly less victims

Slightly more serious injuries

Slightly less mild injuries

Compare the ratio of accidents. Not the same amount of days, so the ratio per accident sems higher in holidays.

Find moment of when the accidents occur VS on normal days.

FInd